<!DOCTYPE html>
<html>
  <head>
    <title>POLLIFE</title>
    {{> head}}
  </head>

<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="poll-container">
					<h1>Polls</h1>
					<table class="table table-striped">
						<thead>
						<tr>
						<td> {{ user }}</td>
            <td> {{ question }}</td>
            <td> {{ optionOne }}</td>
            <td> {{ optionTwo }}</td>
            <td> {{ optionThree }}</td>
            <td> {{ optionFour }}</td>
							</tr>
						</thead>


{{ footer }}
</html>